<% include partials/header %>
<body class="animsition">
    <div class="page-wrapper">
        <% include partials/sidebar %>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">Active Users</div>
                                <div class="card-body">
                                    <hr>
                                    <div style="max-width:100% " class="container">      
                                            <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>Email</th>
                                                  <th>UserName</th>
                                                  <th>Name</th>
                                                  <th>SurName</th> 
                                                  <th>Profile Picture</th>
                                                  
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <% for(var i=0; i < data.length; i++) { %>
                                                <tr>
                                                  <td><%= data[i].email %></td>
                                                  <td><%= data[i].username %></td>
                                                  <td><%= data[i].name %></td>
                                               
                                                  <td><%= data[i].surname %></td>
                                                  <td>
                                                      
                                                    <img  style="    width: 100px;
                                                    height: 100px;
                                                    align-items: center;" src="<%= data[i].profile_pic %>">
                                                </td>
                                                </tr>
                                                <% } %>
                                              </tbody>
                                            </table>
                                  </div>
                                  <% if (pages > 0) { %>
                                    <ul class="pagination text-center">
                                        <% if (current == 1) { %>
                                            <li class="disabled"><a>First</a></li>
                                        <% } else { %>
                                            <li><a href="/activeusers/1">First</a></li>
                                        <% } %>
                                        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                        <% if (i !== 1) { %>
                                            <li class="disabled"><a>...</a></li>
                                        <% } %>
                                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                            <% if (i == current) { %>
                                                <li class="active"><a><%= i %></a></li>
                                            <% } else { %>
                                                <li><a href="/activeusers/<%= i %>"><%= i %></a></li>
                                            <% } %>
                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                <li class="disabled"><a>...</a></li>
                                            <% } %>
                                        <% } %>
                                        <% if (current == pages) { %>
                                            <li class="disabled"><a>Last</a></li>
                                        <% } else { %>
                                            <li><a href="/activeusers/<%= pages %>">Last</a></li>
                                        <% } %>
                                    </ul>
                                <% } %>
                              </div>
                            </div>
                        </div>
            </div>
        </div>
 
</body>
   

<% include partials/footer %>

</script>