<% include partials/header %>
<body class="animsition">
    <div class="page-wrapper">
        <% include partials/sidebar %>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">QR Code</div>
                                <div class="card-body">
                                    <!-- <div class="card-title">
                                        <h3 class="text-center title-2">Form </h3>
                                    </div> -->
                                    <hr>
                                    <div style="max-width: 100%;" class="container">      
                                            <table class="table table-bordered">
                                              <thead>
                                                <tr>
                                                  <th>Name</th>
                                                  <th>Location</th>
                                                  <th>Type</th>
                                                  <th>Image</th> 
                                                  <th>Points</th>
                                                  <th><p style="font-size: 17px;
                                                    width: 74px;">QR Code</p></th>
                                                  <th>Edit</th>
                                                  <th>Status</th>
                                                  <th>Delete</th>
                                                  
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <% for(var i=0; i < data.length; i++) { %>
                                                <tr>
                                                  <td><%= data[i].name %></td>
                                                  <td><%= data[i].location %></td>
                                                  <td><%= data[i].PlaceType %></td>
                                                <td>
                                                      
                                                    <img src="<%= data[i].ImageUrl %>">
                                                </td>
                                                  <td><%= data[i].points %></td>
                                                  <td><%= data[i].qrcode %></td>
                                                  <td><a href="/qrcodegenerator/?id=<%= data[i]._id %>"><i class="fa fa-edit"></i></a></td>
                                                <% if (data[i].status == 1) { %>
                                                  <td><a href="/listqrcode/<%= current %>?id=<%= data[i]._id %>&status=<%= data[i].status %>">Active</a></td>
                                                <% } else { %>
                                                    <td><a href="/listqrcode/<%= current %>?id=<%= data[i]._id %>">InActive</a></td>
                                                <% } %>
                                                <td><a href="/listqrcode/<%= current %>?id=<%= data[i]._id %>&action=delete"><i class="fa fa-trash"></i></a></td>
                                                </tr>
                                                <% } %>
                                              </tbody>
                                            </table>
                                          
                                    </div>
                                    <% if (pages > 0) { %>
                                        <ul class="pagination text-center">
                                            <% if (current == 1) { %>
                                                <li class="disabled"><a>First</a></li>
                                            <% } else { %>
                                                <li><a href="/listqrcode/1">First</a></li>
                                            <% } %>
                                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                            <% if (i !== 1) { %>
                                                <li class="disabled"><a>...</a></li>
                                            <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                    <li class="active"><a><%= i %></a></li>
                                                <% } else { %>
                                                    <li><a href="/listqrcode/<%= i %>"><%= i %></a></li>
                                                <% } %>
                                                <% if (i == Number(current) + 4 && i < pages) { %>
                                                    <li class="disabled"><a>...</a></li>
                                                <% } %>
                                            <% } %>
                                            <% if (current == pages) { %>
                                                <li class="disabled"><a>Last</a></li>
                                            <% } else { %>
                                                <li><a href="/listqrcode/<%= pages %>">Last</a></li>
                                            <% } %>
                                        </ul>
                                    <% } %>


                                </div>
                            </div>
                           

                   



                        </div>
            </div>
        </div>
      
</body>
   

<% include partials/footer %>
</script>



